<%- include("partials/header") %>

<div class="container-fluid search">

    <div class="search__header">
        <h1>
            Your Movies... 
        </h1>
        <p>Watch & Enjoy, Be Happy</p>
    </div>
    <div class="search__result">
        <% data["Search"].forEach( movie => { %>
            <ol type="none">
                <li>
                    <%= movie["Title"] %>
                </li>
            </ol>
        <% }) %>
    </div>
    <a href="/" class="btn btn-outline-success btn-light">Search Again</a>

</div>

<%- include("partials/footer") %>
